body {
  font-family: sans-serif;
  margin: 0;
  background: whitesmoke;
}

.browser-height {
  color: white;
  background: gray;
  position: relative;
  height: 100vh;
}
.browser-height .section-content {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.browser-height img {
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
}

.button-like-link {
  display: inline-block;
  padding: 2em;
  color: red;
  text-decoration: none;
  border: 2px solid red;
}

.button-like-link:hover {
  background: black;
}

.button-like-link:hover + .pagination {
  color: green;
}

.pagination {
  transition: color 700ms ease-in-out;
  text-align: right;
}

.button-like-link + .pagination {
  color: fuchsia;
}

.pagination {
  font-size: 80px;
  font-weight: bold;
}
.image-height img {
  width: 100%;
}
